body {
    background-image: url(boscfons1.avif);
}

.principi{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
}
.inici{
    color: rgb(118, 2, 2);
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: rgb(159, 148, 148);
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(12, 87, 62);
    margin: 0 auto;
    margin-top: 2%;

}

.print{
    width: 100%;
    height: 100%;
    text-align: center; 
    display: flex;
    justify-content: space-around; 
    margin-top: 2%;
    max-width: 80%;
    margin: 0 auto; 
    margin-bottom: 2%;
    flex-wrap: wrap;
    min-width: 200px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5%;
}

.art {
    color: rgb(197, 79, 79);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5%;
    margin-top: 7%;
    margin-bottom:  10%;
}

.agrupacio {
    background-color: rgb(27, 27, 27);
    color: rgb(197, 79, 79);
    width: 100%;
    height: 100%;
    text-align: center; 
    display: flex;
    justify-content: space-around; 
    margin-top: 2%;
    max-width: 80%;
    margin: 0 auto; 
    margin-bottom: 2%;
    flex-wrap: wrap;
    min-width: 200px;
}

.components,
.instruments {
    width: 48%; 
}


.taula {
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: rgb(27, 27, 27);
    color: rgb(197, 79, 79);
    width: 100%;
    height: auto; 
    text-align: center;
    padding: 20px; 
    border-collapse: collapse; 
    max-width: 80%; 
    margin: 0 auto;
}

.taula tr {
    border-bottom: 2px solid rgb(255, 255, 255); 
}

.taula td, .taula th {
    padding: 10px;
}

.Capceler{
    width: 100%;
}
.vid {
    background-color: black;
    color: rgb(197, 79, 79);
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
}

.video-gallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
    margin-top: 2%;
    
}

iframe{
    width: 100%;
    height: 300px;
}


#mapa {  
    width: 100%; 
    border-radius: 15px; 
    height: 400px;
  }

.final{
    margin-left: 10px; 
    background-color: rgb(78, 4, 4);
    color: white;
    margin-top: 5%;
    width: 16%;
    height: 16%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(12, 87, 62);
    


}

img{
    width: 100%;
    height: 80%;
}

.info{
    color: rgb(197, 79, 79);
    background-color: rgb(28, 28, 28);
    box-shadow: 3px 3px 10px rgb(30, 30, 30);
    
}

audio {
    max-width: 80%; 
    margin: 0 auto; 
}